/* sticky nav */
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	background-color: #ffffff;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8; */
}
/** OVERWRITE PRETTYPRINT **/
pre.prettyprint {
	border: none;
}
li.L0, li.L1, li.L2, li.L3, li.L5,
li.L6, li.L7, li.L8, li.L9 { list-style-type: inherit; }

/** FOOTER **/
footer { margin-bottom: 2em; }
footer p {
	color: #cccccc;
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}
footer p a, footer p a:hover, footer p a:visited {
	color: inherit;
}
.social-nav { text-align: center;}
.social-nav a { display: inline-block; width: 40px; height: 40px; border-radius: 50%; border: 2px solid #666; margin: 0 5px; color: #666; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.social-nav a:hover { color: #666;}
.social-nav span { line-height: 36px; font-size: 18px;}
.footer-nav { margin-top: 75px;}
.footer-nav a { color: #666; width: 50%; display: inline-block; margin-bottom: 5px; padding: 5px;}
.social-nav a.facebook { color:#3b5998;border: 2px solid #3b5998;} .social-nav a.facebook:hover {background-color:#3b5998; color:#fff;}
.social-nav a.twitter { color:#00aced;border: 2px solid #00aced;} .social-nav a.twitter:hover {background-color:#00aced; color:#fff;}
.social-nav a.linkedin { color:#007bb6;border: 2px solid #007bb6;} .social-nav a.linkedin:hover {background-color:#007bb6; color:#fff;}
.social-nav a.instagram { color:#517fa4;border: 2px solid #517fa4;} .social-nav a.instagram:hover {background-color:#517fa4; color:#fff;}
.social-nav a.dribbble { color:#ea4c89;border: 2px solid #ea4c89;} .social-nav a.dribbble:hover {background-color:#ea4c89; color:#fff;}
.social-nav a.google { color: #dd4b39; border: 2px solid #dd4b39;} .social-nav a.google:hover {background-color:#dd4b39; color:#fff;}
.social-nav a.vine { color: #00bf8f; border: 2px solid #00bf8f;} .social-nav a.vine:hover {background-color:#00bf8f; color:#fff;}
.social-nav a.reddit { color: #336699; border: 2px solid #336699;} .social-nav a.reddit:hover {background-color:#336699; color:#fff;}
.social-nav a.stumbleupon { color: #EB4823; border: 2px solid #EB4823;} .social-nav a.stumbleupon:hover {background-color:#EB4823; color:#fff;}
.social-nav a.pinterest { color: #cb2027; border: 2px solid #cb2027;} .social-nav a.pinterest:hover {background-color:#cb2027; color:#fff;}
.social-nav a.tumblr { color: #32506d; border: 2px solid #32506d;} .social-nav a.tumblr:hover {background-color:#32506d; color:#fff;}
.social-nav a.foursquare { color: #f94877; border: 2px solid #f94877;} .social-nav a.foursquare:hover {background-color:#f94877; color:#fff;}
.social-nav a.wordpress { color: #21759b; border: 2px solid #21759b;} .social-nav a.wordpress:hover {background-color:#21759b; color:#fff;}
.social-nav a.email { border: 2px solid #666;} .social-nav a.email:hover {background-color:#666; color:#fff;}